.navbar-container {
  margin: 2em 8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 2.5em;
  color: var(--color-main-black);
  font-family: 'Permanent Marker', cursive;
}

.navbar-link {
  font-size: 1.3em;
  color: var(--color-main-black);
  text-decoration: none;
}

@media only screen and (max-width: 1000) {
  .navbar-container {
    font-size: 21px;
    margin: 2em 4em;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-container {
    font-size: 12px;
    margin: 2em 4em;
  }
}
